<div class="login-box">
  <h2>Edit Student</h2>
  <form class="form" [formGroup]="editStudentform">
    <div class="user-box">
      <input name="" required="" formControlName="Student_Name" type="text">
      <label>Student_Name</label>
    </div>
    <div class="user-box">
      <input name="" required="" formControlName="University_Major" type="text">
      <label>University_Major</label>
    </div>
    <a routerLink="/our-students" routerLinkActive="active" (click)="editStudent()" type="submit" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Edit
    </a>
  </form>
</div>
