
.course-from{
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}
.course-from .main-form .singel-form{
  margin-top: 20px;
}
.course-from .main-form .singel-form input,
.course-from .main-form .singel-form textarea{
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 20px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  color: #8a8a8a;
  font-size: 15px;
}


.course-from .main-form .singel-form textarea{
  padding-top: 10px;
  height: 100px;
  width: 100%;
  resize: none;
}

.form-group{
  margin: 0;
}
.list-unstyled li {
font-size: 13px;
margin-left: 2px;
margin-top: 5px;
color: #f00;
}

.main-btn {
display:block;
font-weight: 500;
border: 1px solid #ffc600;
padding: 0 35px;
font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
line-height: 50px;
border-radius: 5px;
  color: #07294d;
  z-index: 5;

  background-color: #ffc600;
}
.main-btn:hover{
  color: #ffc600;
  border-color: #07294d;
  background-color: #07294d;
}
